.BackgroundVideo {
  z-index: -100;
}

.hero-text {
  color: white;
  animation: fade-in 2s 1;
}

h1 {
  margin-top: 150px;
}

h2 {
  font-size: 20pt;
}

@keyframes fade-in {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}